<!DOCTYPE html>

<html>
    <head>
        <title>BEEP BOOP BOOP</title>
    </head>

    <body>
    <h1>WHERE U AT BOI</h1>

    <form method="post">
<!--        <label>
            <div>title</div>
            <input type="text" name="title">
        </label>

        <label>
            <div>art</div>
            <textarea name="art"></textarea>
        </label>-->
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit">
    </form>




    {% if a %}
    <img src="{{ a }}">
    {% endif %}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    {% if b %}
    <img src="{{ b }}">
    {% endif %}





    {% for x in xtry %}
    <p>{{ x.art }}</p>
    {% endfor %}
    </body>

</html>


