{% extends "courses/layout.html" %}

{% block title %}sugest an idea!{% endblock %}

{% block content %}
    <div class="row">
        <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit">
        </form>

    </div>



{% if messages %}
            <div class="row">
                <div class="small-6 small-centered columns">
                    {% for message in messages %}
                        <div data-alert class="callout {{ message.tags }}">
                            {{ message }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
{% endblock %}