{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bezalel</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>



    <link rel="stylesheet" href="{% static 'css/port.css' %}">
    <script type="text/javascript" src="{% static 'css/port.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top op-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Logo Here boi</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Profile</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Contact Me</a></li>
        </ul>
      </div>
    </nav>

<!--comment-->

    <div class="wrapper">
        <div class="item1"> <!--red box inside screen-->
            <div class="container">
              <div class="row">
                <div class="col-lg-8" style="border: solid green 1px;">


<div class="container-fluid">
  <div class = "row text-center">
    <h2>h2 header</h2>
  </div>
  <div class = "row text-center">
    <div class = "col-xs-12 well message">
      The message will go here
    </div>
  </div>
  <div class = "row text-center">
    <div class = "col-xs-12">
      <button id = "getMessage" class = "btn btn-primary">
        button to change
      </button>
    </div>
  </div>
</div>



                </div>
              </div>
              <div class="row">
                  <div class="col-lg-8" style="border: solid red 1px;">a</div>
              </div>
              <div class="row">
                  <div class="col-lg-8" style="border: solid pink 1px;">a</div>
              </div>
            </div>
        </div>
    </div>


col-md-8 col-md-offset-2
</body>
</html>