
{% load static %}



    <head>
        <title>Films</title>


        <link rel="stylesheet" type="text/css" href="{% static 'swapi/films.css' %}" />
    </head>
    <body>
    <a href="{% url 'swapi:main' %}">Home</a>




    <div id="titles">
    <div id="titlecontent">
        <p>
            {% for xlist in films %}
            <p style="text-align: center;">({{ xlist.episode_id }}) {{ xlist.title }}</p>
            <p>{{ xlist.opening_crawl }}</p>
            <p>Director --- {{ xlist.director }}</p>
            <p>Producer --- {{ xlist.producer }}</p>
            <p>Release Date --- {{ xlist.release_date }}</p>
            <br><br><br>
            {% endfor %}
            Bezalel Pan =]
        </p>
    </div>
    </div>


    </body>
