{% load static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>


        <link rel="stylesheet" type="text/css" href="{% static 'swapi/header.css' %}" /></link>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'swapi:main' %}">Home</a></li>
            <li><a href="{% url 'swapi:films' %}">Films</a></li>
            <li><a href="{% url 'swapi:people' %}">People</a></li>
            <li><a href="{% url 'swapi:planets' %}">Planets</a></li>
            <li><a href="{% url 'swapi:species' %}">Species</a></li>
            <li><a href="{% url 'swapi:starships' %}">Starships</a></li>
            <li><a href="{% url 'swapi:vehicles' %}">Vehicles</a></li>
        </ul>

        {% block content %}{% endblock %}

    </body>
</html>







