
{% load static %}
<html>
    <head>
        <title>StarWars API</title>
        <link rel="stylesheet" type="text/css" href="{% static 'swapi/main.css' %}" />
    </head>
    <body>
                <div id="div1">
                    <a href="{% url 'swapi:films' %}" style="font-size: 40px;">Films</a>
                </div>
                <div id="div2">
                    <a href="{% url 'swapi:people' %}" style="font-size: 40px;">People</a>
                </div>
                <div id="div3">
                    <a href="{% url 'swapi:planets' %}" style="font-size: 40px;">Planets</a>
                </div>
                <div id="div4">
                    <a href="{% url 'swapi:species' %}" style="font-size: 40px;">Species</a>
                </div>
                <div id="div5">
                    <a href="{% url 'swapi:starships' %}" style="font-size: 40px;">Starships</a>
                </div>
                <div id="div6">
                    <a href="{% url 'swapi:vehicles' %}" style="font-size: 40px;">Vehicles</a>
                </div>
    </body>
</html>




