{% extends "swapi/header_template.html" %}

{% block title %}People{% endblock %}






{% block content %}
Example (Obi-Wan Kenobi)
<form action="{% url 'swapi:people' %}">
    <input name="people" value="BB8">
    <input type="submit">
</form>

<p></p>
{% if others %}

{% for x in others %}
<p>{{ x }}</p>
{% endfor %}

{% else %}
{{ error }}
{% endif %}
<p></p>

{% if people %}
    <li>{{ people }}</li>
    {% endif %}
<div>
    {% for x in people %}
    <p>name---{{ x.name }}</p>
    <p>height---{{ x.height }}</p>
    <p>mass---{{ x.mass }}</p>
    <p>hair_color---{{ x.hair_color }}</p>
    <p>skin_color---{{ x.skin_color }}</p>
    <p>eye_color---{{ x.eye_color }}</p>
    <p>birth_year---{{ x.birth_year }}</p>
    <p>gender---{{ x.gender }}</p>

    {% endfor %}

</div>
{% endblock %}





<!--
{
    "name": "Luke Skywalker",
    "height": "172",
    "mass": "77",
    "hair_color": "blond",
    "skin_color": "fair",
    "eye_color": "blue",
    "birth_year": "19BBY",
    "gender": "male",
    -->


