


html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; }
#div1 { background: #DDD;
    width: 80%;
    margin: 0 auto;

}


#div2 { background: #AAA;
    width: 80%;
    margin: 0 auto;
}



#div3 { background: red;
    width:49%;
    display: inline-block;
}



#div4 { background: blue;
    width:49%;
    display: inline-block;

}