{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Quotes</title>

  <link rel="stylesheet" type="text/css" href="{% static 'codecamp/ajax.css' %}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

  <script type="text/javascript" src="{% static 'codecamp/main.js' %}"></script>

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>random quote machine</h1>
        <h3>warning:asdasdasdasd</h3>
        <hr>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="quote-box">
          <p id="quote">wuote here</p>
          <p id="author">author </p>
        </div>
        <ul class="list-inline">
          <li><a href="#" class="btn btn-default btn-lg get-quote"><i class="fa fa-quote-left fa-fw"></i>get quote</a></li>
          <li><a href="#" class="btn btn-default btn-lg share-quote"><i class="fa fa-twitter fa-fw"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>