{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weather shower thing</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

    <script type="text/javascript" src="{% static 'codecamp/weather.js' %}"></script>

</head>


<body>
<div id = "data1">
  <h4>You are hereherehereherehere:data1</h4>
</div>
<div id = "data2">
  <h4>You are hereherehereherehere:data2</h4>
</div>
<div id = "data3">
  <h4>You are hereherehereherehere:data3</h4>
</div>
<div id = "data4">
  <h4>You are hereherehereherehere:data4</h4>
</div>
<div id = "data5">
  <h4>You are hereherehereherehere:data5</h4>
</div>

<div id = "data55">
  <h4>You are :data5data5data5data5data5data5data5data5</h4>
</div>
<div id = "data555">
  <h4>You are :data5data5data5data5data5data5data5data5</h4>
</div>

<br><br><br>
<div id = "data">
  <h4>You are here:</h4>

</div>

<div class="container-fluid">
  <div class = "row text-center">
    <h2 class="location">h2 header</h2>
  </div>
  <div class = "row text-center">
    <div class = "col-md-12 well message">
      The message will go here
    </div>
  </div>
</div>

<button class="change-temp">asd</button>
<div id = "tempFar">
  <h4>tempFar</h4>
</div>
<div id = "tempCel">
  <h4>tempCel</h4>
</div>
<div id = "switchTemp">
  <h4 id = "switchTemppp">switchTempswitchTempswitchTemp</h4>
</div>
<select id="ddlViewBy">
  <option value="1">test1</option>
  <option value="2">test2</option>
  <option value="3">test3</option>
</select>

</body>

</html>









