{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki Page Lookie-Loo</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

    <script type="text/javascript" src="{% static 'codecamp/wiki.js' %}"></script>

</head>
<body style="background: pink;">
<br>
<div style="margin:0 auto; width:250px;">
    <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Surprise Me!</a>
<input type="text" id="textbox_id" placeholder="Wiki Search"/>
<button  id="a">Search</button>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="article1">

            </div>

            <div id="article2">

            </div>

            <div id="article3">

            </div>

            <div id="article4">

            </div>

            <div id="article5">

            </div>
        </div>
    </div>
</div>

</body>
</html>

